<div class="page-header">
  <h1><%= @image.title %><br /></h1>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Image</a></li>
    <% if @image.attachment.content_type == 'image/jpeg' %>
      <li><a href="#2" data-toggle="tab">EXIF Data</a></li>
    <% end %>
    <li><a href="#3" data-toggle="tab">Other sizes</a></li>
    <% if @image.has_gps? %>
      <li><a href="#4" data-toggle="tab">Map</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <h2>Large:</h2>
      <%= link_to(image_tag(@image.attachment.url(:large)), @image.attachment.url, :class => "top_up") unless @image.attachment.nil? %>
      <%= link_to "edit", :action => "edit", :id => @image %>
    </div>
    <% if @image.attachment.content_type == 'image/jpeg' %>
      <div class="tab-pane" id="2">
        <div id="exif_data">
          <%= render :partial => 'exif_data' %>
        </div>
      </div>
    <% end %>
    <div class="tab-pane" id="3">
      <h3>Medium:</h3>
      <%= image_tag @image.attachment.url(:medium) %>
      <h4>Thumb:</h4>
      <%= image_tag @image.attachment.url(:thumb) %>
    </div>
    <% if @image.has_gps? %>
      <%= render :partial => 'maps' %>
      <div class="tab-pane" id="4">
        <div id="map_canvas" class="googlemaps"></div>
      </div>
    <% end %>
</div>

<script>
    $(function () {
        $('.tabs').tabs()
    });
    $(document).ready(draw_map());
</script>