<div class="page-header">
  <h1><%= @image.title %><br /></h1>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Image</a></li>
    <li><a href="#2" data-toggle="tab">EXIF Data</a></li>
    <li><a href="#3" data-toggle="tab">Other sizes</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <h2>Large:</h2>
      <%= link_to(image_tag(@image.attachment.url(:large)), @image.attachment.url, :class => "top_up") unless @image.attachment.nil? %><br />
      <%= link_to "edit", :action => "edit", :id => @image %>
    </div>
    <div class="tab-pane" id="2">
      <div id="exif_data">
      Model: <%= @image.model %><br />
      Focal length: <%= @image.focal_length %><br />
      Shutter speed: <%= @image.shutter_speed %><br />
      Aperture: <%= @image.aperture %><br />
      ISO: <%= @image.iso %><br />
      White balance: <%= @image.white_balance %><br />
      Flash: <%= @image.flash %><br />
      Date: <%= @image.date_time_original %><br />
      GPS Altitude: <%= @image.gps_altitude %><br />
      GPS Latitude: <%= @image.gps_latitude %><br />
      GPS Longitude: <%= @image.gps_longitude %><br />
      </div>
    </div>
    <div class="tab-pane" id="3">
      <h3>Medium:</h3>
      <%= image_tag @image.attachment.url(:medium) %>
      <h4>Thumb:</h4>
      <%= image_tag @image.attachment.url(:thumb) %>
  </div>
</div>

<script>
    $(function () {
        $('.tabs').tabs()
    })
</script>