<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="#">Project name</a>
    <div class="nav-collapse">
      <ul class="nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<header>
<!--  <% logo = image_tag("logo_small.png", :alt => "IMGfoo") %>-->
  <%= link_to logo, root_path %>
  <nav id="main_nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Images", images_path %></li>
      <% if signed_in? and current_user.admin? %>
      <li><%= link_to "Users", users_path %></li>
      <% end %>
    </ul>
  </nav>
</header>